
  
  .main1 {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    
    
  }
  .right-p1{
    display: flex;
   
    flex-direction: column;
  }
  
  .main-con1 {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    overflow-x: hidden;
    /* Allow wrapping for smaller screens */
  }
  
  .left-side1 {
    width: 350px;
    min-width: 250px; /* Minimum width to prevent shrinking */
    height: auto;
    background: linear-gradient(to bottom, rgba(188, 189, 215, 0.5), rgba(185, 185, 185, 0.5));
    border-radius: 0 30px 30px 0;
    position: sticky;
    bottom: 0;
    transition: transform 0.3s ease-in-out; /* Smooth transition for visibility */
  }
  
  .left-side1.visible {
    transform: translateX(0); 
    /* Visible state */
  }
  
  .left-side1.hidden {
    transform: translateX(-100%);
    display: none; /* Hidden state */
  }
  
  .left-section1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 10px;
  }
  
  .User1 {
    border-radius: 30%;
    cursor: pointer; /* Indicate clickable */
  }
  
  .logo-username1 p {
    text-indent: 10px;
    font-size: 12px;
    font-weight: lighter;
  }
  
  .logo-username1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 30px;
    margin-top: 3%;
  }
  
  .new1 {
    width: 60px;
    height: auto;
    margin: 10px;
  }
  
  .user-button1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin: 40px 0;
  }
  
  .user-button1 li a {
    text-decoration: none;
    display: flex;
    color: #000000b5;
    justify-content: center;
    padding-left: 10px;
  }
  
  .user-button1 li img {
    display: flex;
    color: #000000b5;
    justify-content: start;
    position: absolute;
  }
  
  .user-button1 li a:hover {
    color: #ffffff;
  }
  
  .user-button1 li {
    padding: 12px 30px;
    width: 100%;
    height: auto;
    margin-top: 15px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(250, 250, 250, 0.5));
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .user-button1 li:hover {
    background-color: #8e8fac;
  }
  
  .logo-new1 {
    display: flex;
    justify-content: flex-start;
  }
  
  .main-plan1 {
    margin: 0 30px 30px 30px;
  }
  
  .plan1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(183, 183, 183, 0.718);
    padding: 10px;
    border-radius: 20px;
    background-color: #7a7baf48;
  }
  
  .head1 {
    color: #4b68c8;
    font-weight: lighter;
  }
  
  .desciption1 {
    text-align: center;
    margin: 15px;
    color: rgba(29, 29, 29, 0.733);
  }
  
  .upgrade1 {
    border-radius: 10px;
    font-size: medium;
    background-color: rgb(233, 155, 9);
    border: none;
    padding: 10px;
  }
  
  .main-head1 {
    display: flex;
   
    width: 90%;
    list-style: none;
    padding: 10px;
  }
  
  .back1 {
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 70%;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    
    margin: 0%;
    padding: 0px;
  }
  
  .back1 img {
    color: #7a7baf;
  }
  
  .main-title1 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 100%;
    align-items: start;
    text-decoration: none;
    
  }
  
  .title1 {
    font-size: medium;
    font-weight: bolder;
  }
  
  .title-des1 {
    color: #757575;
  font-size: smaller;
  width: 100%;
  margin: 0%;
  
  
  }
  

  .title-head1 {
    font-size: 40px;
    margin: 0;
    font-weight: normal;
    color: #7a7baf;
  }
  
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
  
  
  .credits-main1 {
    display: flex;
    justify-content: end;
  }
  .credits1 {
    border: 1px solid #757575;
    color: #757575;
    background-color: #a6baee42;
    width: 100px;
    padding: 2px 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    border-radius: 20px;
    font-size: small;
    
  }
  .credits1 img{
      width: 20px;
      height: auto;
  }
  
  
  
  .main-body11 {
    margin: 0px 20px;
    padding:0px;
  }
  
  .main-body111 {
    display: flex;
    justify-content: start;
    margin: 0px 10px 10px 0px;
    border: 2px solid rgb(251, 251, 251);
    background: linear-gradient(to bottom, rgba(149, 141, 255, 0.5), rgba(200, 255, 252, 0.5));
    border-radius: 30px;
     /* Allow wrapping for smaller screens */
  }

  
  .left1 {
    margin: 40px 60px;
    display: flex;
    flex-direction: column;
    min-width: 250px; /* Minimum width to prevent shrinking */
  }
  
  .right1 img {
    
    width: 350px;
    
    max-width: 100%; /* Ensure image doesn't overflow */
  }
  .right1{
    height: 250px;
  }
  
  
  .left-main1 {
    font-size: larger;
    color: #ffffff;
    margin-top: 1%;
  }
  
  .url-input1 input {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #757575;
    background-color: whitesmoke;
    color: #757575;
  }
  
  .search-url1 {
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 40px;
    background-color: #000;
    color: bisque;
  }
  .search-url1:hover {
    color: #ffffff;
  }
  .form{
    display: flex;
    flex-direction: column;
  }
  .label{
        width: 40%;
        border: 1px solid #000;
        background-color: #d1d1da;
        padding: 5px;
        font-size: small;
        border-radius: 10px;
        margin-top: 30px;
        text-align: center;
  }
  .url-des1 {
    font-size: small;
    margin-bottom: 10px;
    color: #757575;
  }







  /* ///table/// */
  .history-table{
    width: 60vw;
    height: 25vh;
    scrollbar-width: thin;
    font-size: small;
    scrollbar-color: rgb(0, 0, 0);
    overflow-x: scroll;
    overflow-y: scroll;
    z-index: 1000000;
    
  }

  .header12{
    background-color: #819fbf;
    
    color: white;
  }
  .download-button{
    display: flex;
    background-color:  #819fbf;
    padding: 10px;
    font-size: small;
    border-radius: 10px;
    margin-top: 20px;
  }
  .download-button1{
    display: flex;
    background-color: #819fbf;
    padding: 10px;
    font-size: small;
    border-radius: 10px;
    
  }



  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .main-con1 {
        display: flex;
      flex-direction: column;
    }
    .main-head1{
        width: 90%;
    } 
  
    .left-side1 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      position: static;
    }
  
    .right-side1 {
      width: 100%;
    }
  
    .main-title1 {
      margin-left: 50px;
      width: 100%;
      
    }
    .title-des11 {
      width: 80%;
     
     
      
    }
    .main-body11{
        width: 80%;
    }
    .credits-main1{
        width: 100%;
    }
    .main-body111 {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .left1 {
      margin: 20px;
    }
    .url-input1{
      width: 80%;
    }
    .right1 img {
      margin-top: 10px;
    }
    .title-head1 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .title-head1 {
      font-size: 20px;
    }
    .title-des1{
        font-size: 15px;
        margin: 10% 0%;
    }
  
    .credits1 {
    
      font-size: 12px;
      padding: 5px;
      margin-right: 20px;
    }
  
    .back1{
      width: 40px;
      height: 40px;
    }
  
    .back1 img {
      width: 20px;
      height: 20px;
    }
  }
