.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



.body{
  margin: 0%;
  background-color: #333333;
}

.container1 {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-top:20px ;
  border-radius: 30px;
  
  flex-direction: column;

  
}
.login-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(64, 64, 67, 0.5), rgba(182, 201, 226, 0.5));
  box-shadow: 2px 2px 30px rgb(80, 80, 80);
 
  border-radius: 30px;
}

.left-panel {
 
  border-radius: 30px;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.left-panel img {
  margin-top: 10px;
  width: 100%;
  max-width: 250px;
}

.right-panel {
 
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 30px;
 
}

.header1 {
  display: flex;
  justify-content: center;
  z-index: 2;
  height: 10px;
  align-items: start;
 
  

}
.h21{
  position: absolute;
  
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
 
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
}
.form input {
  width: 80%;
  
  padding: 8px;
  margin: 5px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.captcha-canvas{
  width: 100px;margin-left: 50px;
}
  
.terms{
   text-align: center;
   font-size: small;
}
.login-button {
  width: 85%;
  padding: 10px;
  background-color:  rgb(6, 152, 230);
  color: white;
  border: none;
  margin: 5px 27px;
  border-radius: 5px;
  cursor: pointer;
}
 .form button:hover{
  background-color: black;
 }
 button:hover{
  background-color: #dadadacb;
 }
.extra-links {
  text-align: center;
  margin-top: 10px;
}

.extra-links a {
  color: gray;
  text-decoration: none;
}
.google-login-b {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 27px;
  width: 86%;
  padding: 7px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.google-signin {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  color: #333333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
}

.google-signin i {
  margin-right: 10px;
}


.logo-container1 {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px ;

}
.svg{
  position: absolute;
  right: 0%;
  
}

.login-logo1 {
 
  z-index: 4;
  position: absolute;
  
  
}
.login-divider {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.divider-line {
  display: inline-block;
  width: 90px;
  background-color: #ccc;
}

.divider-text {
  margin: 0 10px;
  color: rgb(164, 157, 157);
}

.google-login-l {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}
.login-right {
  color: white;
  border-radius: 0 30px 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-right-title {
  margin-bottom: 30px;
  text-shadow: 5px 3px 10px rgb(224, 224, 224);
}

.login-info {
  text-align: center;
  text-shadow: 5px 3px 10px rgb(224, 224, 224);
}

.login-subtitle {
  font-size: 23px;
  font-weight: bold;
  color: #4e5094;
  text-shadow: none;
  border: 1px solid #4e5094;
  background-color: #ffffff;
  border-radius: 10px;
}

.login-description {
  font-size: 15px;
  font-weight: bold;
  margin: 0px 20px;
  margin-bottom: 30px;
}

.highlight-text {
  color: rgb(32, 1, 115);
  
}
.refresh-captcha:hover{
      background-color: #a0a0a0;
}

.login-illustration1 {
  filter: drop-shadow(10px 10px 10px rgb(207, 207, 207));
  width: 900px;
  height: auto;
  margin-left: 20px;
  animation: bounceIn 1.5s ease-in-out;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .login-card {
    flex-direction: row;

  }
 
}
.login-link{
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.login-link a{
  color: rgb(47, 68, 190);
  cursor: pointer;
  margin-left: 10px;
}
@media(max-width:780px){

  .left-panel{
    display: none;
  }
  .login-right{
    display: none;
  }
  .main-container{
    margin: 0%;
  }

}